<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>NAME</string>
    <key>ProgramArguments</key>
    <array>
        <string>python</string>
        <string>ROOT/ssr/EXE.py</string>
        <string>-c</string>
        <string>ROOT/etc/CONFIG</string>
        <string>-v</string>
    </array>
    <key>StandardOutPath</key>
    <string>/tmp/NAME.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/NAME.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
